* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big_button {
    height: 2em;
    width: 15em;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    margin-top: 10px;
    margin-right: 20px;
}

.wrap {
    display: flex;
    justify-content: space-around;
}